%% -*- erlang -*-

{erl_opts,
  [ debug_info
  , warn_unused_vars
  , warn_shadow_vars
  , warn_unused_import
  , warn_obsolete_guard
  , warnings_as_errors
  ]}.

{deps, []}.

{xref_checks,
  [ undefined_function_calls
  , undefined_functions
  , locals_not_used
  , exports_not_used
  , deprecated_function_calls
  , deprecated_functions
  ]}.

{xref_ignores,
  [ {foo, main, 1}
  , {getopt, parse, 3}
  ]}.
